<section class="py-8">
    <div class="container mx-auto px-4">
      <h1 class="text-3xl font-bold mb-6">Available Offers</h1>
      <div *ngIf="offers.length > 0" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        <div *ngFor="let offer of offers" class="bg-white shadow-lg rounded-lg overflow-hidden">
          <img class="w-full h-48 object-cover" [src]="offer.thumbnail" alt="{{ offer.full_title }}">
          <div class="p-4">
            <h2 class="text-xl font-semibold">{{ offer.full_title }}</h2>
            <p class="text-gray-600">Price: {{ offer.price_monthly }} USD/month</p>
            <p class="text-gray-600">Location: {{ offer.address.city }}</p>
            <a [routerLink]="['/car-detail', offer.id]" class="block mt-4 text-center text-blue-500 hover:text-blue-700">View Details</a>
          </div>
        </div>
      </div>
      <div *ngIf="offers.length === 0">
        <p class="text-center">No offers available at the moment.</p>
      </div>
    </div>
  </section>
  